{{!
    @template theme_celoe/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    <div style="display: flex; align-items:center; justify-content: center;">
        <div class="sidebar-logo">
            <a class="sidebar-brand" href="{{{ config.wwwroot }}}/?redirect=0">
                <img class="big" src="{{ logo }}" alt="Celoe" />
                <img class="small" src="{{ logosmall }}" alt="Celoe" />
            </a>
        </div>
        <div id="container-btn-burger">
            <div data-region="drawer-toggle" class="d-inline-block mr-3">
                <button
                id="btn-burger"
                aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}"
                aria-controls="nav-drawer"
                type="button"
                class="btn nav-link mr-1 btn-secondary"
                data-action="toggle-drawer"
                data-side="left"
                data-preference="drawer-open-nav"
                >
                {{#pix}}i/menubars{{/pix
                }}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
                <span></span>
                <span></span>
                <span></span>
                </button>
            </div>
        </div>
    </div>
    {{> theme_celoe/flat_navigation }}
</div>
